html,
body {
  height: 100%;
  margin: 0;
}

$primary-color: #870656;
$secondary-color: #171336;
$text-color: #bb9980;
$link-color: #f0f0f0;

.navbar {
  position: fixed;
  top: 0;
  width: 100%;

  ul {
    height: 0;
    margin-left: 1.5em;
    list-style-type: none;
    padding: 0;
    li {
      display: inline;
      float: left;
      a {
        display: block;
        padding: 8px;

        font-family: sans-serif;
        text-decoration: none;
      }
      a:link, a:visited {
        color: $link-color;
      }
    }
  }
}

body {
  font-size: 1.5rem;
  background: linear-gradient(to bottom right, $primary-color, $secondary-color);

  .main {
    height: inherit;

    align-items: center;
    display: flex;
    justify-content: center;
  
    color: $text-color;
    font-family: sans-serif;
    text-align: center;

    .home {
      .profile-picture {
        height: 10em;
        border-radius: 100%;
      }
      
      h1 + .subtitle {
        display: block;
        margin-top: -1em;
      }
    }
  }
}